@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" style="   
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#ddc5f9;
        padding: 20px;
">
        <img src="https://images.unsplash.com/photo-1590402494610-2c378a9114c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
             alt="imgorganise"
             style="width:40vw; height:auto"/>
        <div style="padding: 30px;">
            <h1 class="display-6">Try out MiniJira</h1>
            <p>Start organising your work well. Right now. For free. </p>
        </div>
        
    </div>
